.layout {
  display: grid;
  gap: 0.25rem;
  grid-template: 1fr 6rem / auto;
  height: 100%;
}

.history {
  background-color: #111;
  overflow-y: scroll;
  padding: 0.75rem;
}

.history ul {
  max-height: 0;
  line-height: 1.25;
}

.history li + li {
  margin-top: 0.5rem;
}

.textarea {
  background-color: #111;
  display: block;
  padding: 0.75rem;
  width: 100%;
}
